
.vs/config/applicationhost.config
.vs/PreOrderWorkflow/v14/.suo
PreOrderWorkflow/bin/PreOrderWorkflow.dll
PreOrderWorkflow/bin/PreOrderWorkflow.pdb
PreOrderWorkflow/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PreOrderWorkflow/obj/Debug/PreOrderWorkflow.csproj.FileListAbsolute.txt
PreOrderWorkflow/obj/Debug/PreOrderWorkflow.csprojResolveAssemblyReference.cache
PreOrderWorkflow/obj/Debug/PreOrderWorkflow.dll
PreOrderWorkflow/obj/Debug/PreOrderWorkflow.pdb
PreOrderWorkflow/PreOrderWorkflow.csproj.user
